html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  overscroll-behavior: contain;
  width: 100%;
  font-family: Avenir;
  @media screen and (max-width: 1600px) {
    font-size: 14px;
  }
  @media screen and (max-width: 1400px) {
    font-size: 12px;
  }
  @media screen and (max-width: 1200px) {
    font-size: 10px;
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 3.375rem;
  font-style: normal;
  font-weight: 800;
  line-height: 118%;
}

h2 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

p {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 1.3rem 0;
}